ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    justify-content: flex-end;
    flex: 1;
    color: #f9faf8;
    align-items: center;
}

li {
    display: flex;
    padding: 10px;
}

.logo {
    display: flex;
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
    max-width: 69%;
}

.container {
    background-color: #1f2937;
    padding: 15px;
    margin: -10px;
}

.title {
    display: flex;
    font-size: 48px;
    color: #f9faf8;
}

.topleft {
    max-width: 50%;
}

.subtitle {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
}

img {
    display: flex;
    max-width: 175px;
    height: auto;
    border-radius: 20px;
}

.top {
    display: flex;
    justify-content: space-around;
}

.opportunity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    border: 4px solid #1f2937; 
    max-width: 175px;
    border-radius: 25px;
}

.container1 {
    max-width: 100%;
}


.random {
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-weight: 900px;
    font-size: 36px;
    padding: 20px;
}

.one, .two, .three, .four {
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    max-width: 23%;
}

.container2 {
    background-color: #e5e7eb;
    margin: -10px;
}

.person {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30%;
    padding-bottom: 20px;
}

.quote {
    display: flex;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container4 {
    display: flex;
    padding: 20px;
    justify-content: center;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ff5c0b;
    justify-content: space-around;
    border-radius: 10px;
    color: white;

}

.container3 {
}

button {
   color:white;
   background-color: #ff5c0b;
   border-radius: 10px;
   outline: white;

}

.subwords {
    font-size: 15px;
}

.words {
    font-size: 25px;
}

img:hover {
    transform: scale(1.2);
  }

  button:hover {
    transform: scale(1.2);
  }